.productimage{
    height:auto;
    width: 300px;
}

.opslaan{
    background-color: #f28e0b;
    margin-bottom: 5px;
    width: 100%;
}

.annuleren{
    width: 100%;
}

.fotocontainer{
    margin: 0 auto !important;
}

.formcontainer{
    margin: 0 auto !important;
}
